<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>404 NOT FOUND !!!</h1>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>