<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>About us</h1>
        <BR></BR>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt nemo obcaecati fugiat, voluptatibus labore perferendis repudiandae distinctio. Debitis veniam officiis quo blanditiis minus asperiores cum accusamus atque, in, nam suscipit laudantium deleniti quod sunt? Excepturi amet esse nesciunt voluptatem laudantium voluptates rem, velit, nihil praesentium optio aperiam ex quo reiciendis.
        </p>
    <%- include('./partials/footer.ejs') %>
</body>
</html>